.certificates-wrapper {
  position: relative;
  height: fit-content;
  background-color: white;
  color: black;
  padding: 4% 0% 0%;
  h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.courses-wrapper,
.sports-wrapper,
.arts-wrapper {
  position: relative;
  padding: 5% 10%;
  height: fit-content;

  h2 {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}

.courses-container,
.sports-container,
.arts-container {
  // FLEX-WRAP-CENTER
  margin: 4% 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.certi-img {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: none;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.28);
  background-color: white;
  margin: 15px;
  padding: 0.5%;
  outline: none;

  button {
    cursor: pointer;
    padding: 5px 0px;
    width: 100px;
    margin: 10px 0px;
    font-size: 1.1rem;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    color: black;
    font-weight: bold;
    background-color: white;
    text-align: center;

    &:hover {
      background-color: black;
      color: white;
      transition: all 0.5 ease-in-out;
    }
  }
}

.sports-wrapper {
  background-color: rgba(34, 32, 32, 0.829);
  color: white;

  .certi-img {
    box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 600px) {
  .certificates-wrapper {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
