footer {
  width: 100%;
  overflow: hidden;
  padding: 4% 3% 2%;
  margin-bottom: 0;
  color: white;
  background-color: black;

  h3 {
    text-align: center;
    font-size: 36px;
    font-family: 'Homemade Apple', cursive;
  }

  .footer-nav {
    display: flex;
    width: 5%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    li {
      list-style: none;

      a {
        color: white;

        i {
          height: 28px;
          width: 28px;
          background-color: white;
        }
      }

      .blue:hover {
        color: #0b0bc0;
      }

      .red:hover {
        color: #f81212;
      }
    }
  }

  p {
    margin: 5px 0px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer-nav {
      width: 20%;
    }
  }
}