footer {
  width: 100%;
  overflow: hidden;
  padding: 2.5% 10%;
  margin-bottom: 0;
  color: white;
  // FLEX COL CENTER
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;

  .footer-nav {
    display: flex;
    width: 5%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    li {
      list-style: none;
      a {
        color: white;
        i {
          height: 28px;
          width: 28px;
          font-family: none;
          background-color: white;
        }
      }
      .blue:hover {
        color: #0b0bc0;
      }
      .red:hover {
        color: #f81212;
      }
    }
  }
  p {
    margin: 5px 0px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer-nav {
      width: 20%;
    }
  }
}
