.modal-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: none;
  align-items: center;
  justify-content: center;

  .modal-close {
    position: relative;
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    .close-line {
      width: 30px;
      height: 4px;
      transform: rotateZ(-45deg);
      background-color: black;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        left: 0;
        transform: rotateZ(90deg);
        background-color: inherit;
      }
    }
  }
}

.dialog{
  width: 800px;
  height: 600px;
  background: white;
  border-radius: 8px;
  
  &_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-bottom: 1px solid lightgray;
    height: 15%;

    .modal-title {
      font-size: 1.5rem;
      width: 100%;
      margin: 20px 0px;
      height: fit-content;
      font-weight: 600;
      color: black;
    }
  }

  &_body{
  padding: 0% 5%;
  overflow-y: auto;
  height: 70%;
  
  .certi-ext {
    width: 100%;
    text-align: center;
    margin: 8% 0px;

    &_link{
      padding: 5px 10px;
      font-size: 1.2rem;
      color: black;
      text-decoration: none;
      border: 2px solid black;
      border-radius: 10px;
      &:hover {
        transition: all 0.2s linear;
        background-color: black;
        color: white;
      }
    }
  }

  .badges-wrapper, .learning-list{
    width: 50%;
  }
  .modal-content{
    display: flex;
    justify-content: space-evenly;
  }
    h3 {
      text-align: center;
      margin: 15px 0px;
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 300;
      font-family: 'Silkscreen', cursive;
    }
  }

  &_footer{
    height: 15%;
    padding: 2% 5%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid lightgray;
    p{
      cursor: pointer;
      margin: 0;
      color: black;
      font-size: 1.2rem;
    }
  }

}

.modal-img {
  img {
    width: 100%;
    outline: black;
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  span {
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 1rem;
    color: white;
    margin: 5px 10px;
    background-color: black;
  }
}

.learning-list {
  ol {
    padding-left: 20px;
    li {
      margin-top: 10px;
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .dialog {
    width: 600px;
    height: auto;

    &_body{
      img {
        max-width: 400px;
        height: 300px;
      }
      h3{
        font-size: 1.5rem;
      }
    }
  }
  .learning-list {
    ol {
      li {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .dialog {

    width: 360px;

      .modal-close{
        .close-line{
          width: 24px;
          &::before{
            width: 24px;
          }
        }
      }

      .modal-title {
        font-size: 1.2rem;
      }
      .modal-content {
        h3 {
          font-size: 1rem;
          padding: 0;
        }
        li{
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
  }
}
