#nav-wrapper {
  // position: fixed;
  position: relative;
  background-color: black;
  z-index: 990;
  width: 100%;
  // FLEX-CENTER-B/W
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  z-index: 998;

  .brand-logo {
    // FLEX CENTER
    display: flex;
    color: white;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
  }
}

.nav-content {
  width: 50%;
  font-size: 1.3rem;
  height: 100%;
  // FLEX-CENTER-EVEN
  display: flex;
  justify-content: space-between;

  .nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: fit-content;
    outline: none;
    transition: all 0.4s linear;
    &:hover,
    &:focus {
      letter-spacing: 1.5px;
      font-weight: 600;
      border-bottom: 1px solid white;
      padding-bottom: 5px;
    }
  }
}

.open-icon {
  position: absolute;
  right: 10%;
  top: 30%;
  width: fit-content;
  display: none;

  .line {
    width: 28px;
    height: 4px;
    background-color: white;

    &::after {
      content: "";
      width: 28px;
      height: 4px;
      background-color: inherit;
      position: absolute;
      margin-top: 20px;
    }
    &::before {
      content: "";
      width: 28px;
      height: 4px;
      background-color: inherit;
      position: absolute;
      margin-top: 10px;
    }
  }
}

.close-icon {
  height: 100%;
  padding: 5% 0%;
  width: 50px;
  display: none;

  .close-line {
    width: 30px;
    height: 4px;
    transform: rotateZ(-45deg);
    background-color: white;

    &::after {
      content: "";
      position: absolute;
      transform: rotateZ(-90deg);
      width: 30px;
      height: 4px;
      background-color: inherit;
    }
  }
}

@media screen and (max-width: 769px) {
  #nav-wrapper {
    padding: 4% 10%;
    position: relative;
    .nav-content {
      width: 100%;
      position: absolute;
      right: -100%;
      top: 0;
      height: 85vh;
      transition: all 0.4s linear;
      // FLEX-CENTER-EVEN
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      background-color: black;
    }
  }

  .open-icon {
    display: block;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.nav-onscroll-style {
  position: fixed;
  background-color: white;
  box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.4),
    inset -4px -4px 7px rgba(0, 0, 0, 0.4);
  .brand-logo {
    color: black;
  }
  .nav-link {
    color: black;
    &:hover,
    &:focus {
      border-bottom: 1px solid black;
      padding-bottom: 5px;
    }
  }
}
