#nav-wrapper {
  position: fixed;
  background-color: black;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;

  .brand-logo {
    color: white;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
}

.nav-content {
  font-size: 1.3rem;
  width: 50%;
  display: flex;
  justify-content: space-around;

  li {
    margin: 0px 40px;
    width: fit-content;
    text-align: center;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover,
    &:focus {
      transform: scale(2);
      font-weight: 600;
      border-bottom: 0.8px solid white;
      padding-bottom: 5px;
    }
  }
}

.open-icon {
  position: absolute;
  right: 10%;
  top: 30%;
  width: fit-content;
  display: none;

  .line {
    width: 28px;
    height: 4px;
    background-color: white;

    &::after {
      content: "";
      width: 28px;
      height: 4px;
      background-color: inherit;
      position: absolute;
      margin-top: 20px;
    }
    &::before {
      content: "";
      width: 28px;
      height: 4px;
      background-color: inherit;
      position: absolute;
      margin-top: 10px;
    }
  }
}

.close-icon {
  height: 100%;
  padding: 5% 0%;
  width: 50px;
  display: none;
  border-left: 1px solid white;

  .close-line {
    width: 30px;
    height: 4px;
    transform: rotateZ(45deg);
    background-color: white;

    &::after {
      content: "";
      position: absolute;
      left: 14px;
      top: 14px;
      transform: rotateZ(-90deg);
      width: 30px;
      height: 4px;
      background-color: inherit;
    }
  }
}

@media screen and (max-width: 1440px) {
  .nav-content {
    li {
      margin: 0px 10px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-content {
    li {
      margin: 0px 5px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 769px) {
  #nav-wrapper {
    padding: 3% 10%;
    position: fixed;
    .nav-content {
      width: 100%;
      position: absolute;
      right: -100%;
      top: 0;
      height: 100vh;
      transition: all 0.4s linear;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: black;
      .nav-link{
        padding: 10px 20px;
        font-size: 1.4rem;
      }
    }
  }

  .open-icon {
    display: block;
  }

  .close-icon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 10px;
  }
}
