.skill-section {
  text-align: center;
  padding: 3% 0%;

  h2 {
    font-size: 3rem;
    font-family: 'Homemade Apple', cursive;
  }
}

.icons-container {
  overflow-x: scroll;
  display: flex;
  padding: 3% 0%;
  overflow-y: hidden;
  height: fit-content;

  li {
    list-style: none;
  }

  img {
    height: 130px;
    width: 130px;
    border: none;
    backdrop-filter: blur(30px);
    border-radius: 50%;
    margin: 0 30px;
    transition: all 0.5s linear;
    box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.3);
  }

  img:hover,
  img:focus {
    transform: scale(1.15);
    box-shadow: 22px 22px 50px 2px rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 600px) {
  .skill-section {
    padding: 5% 0%;
    h2 {
      font-size: 2.2rem;
    }
  }

  .icons-container {
    padding: 5% 0%;
    img {
      height: 80px;
      width: 80px;
      margin: 0px 20px;
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.4);
    }
  }
}
