@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body-wrapper {
  position: relative;
  overflow-x: hidden;
}

.body-wrapper.hideBody {
  display: none;
}

button,
a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: white;
  box-shadow: inset 0 0 5px lightgrey;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #16191e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-wrapper .load-text {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 10px;
}
.loader-wrapper .loader {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-color: #45474b;
  border-width: 1em;
  border-top-color: #2a88e6;
  animation: spinner 1s infinite linear;
}

.loader-wrapper.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
nav {
  position: fixed;
  background-color: black;
  z-index: 990;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  z-index: 998;
}
#nav-wrapper .brand-logo {
  color: white;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.nav-content {
  font-size: 1.3rem;
  display: flex;
}
.nav-content li {
  margin: 0px 40px;
  width: 130px;
  text-align: center;
}
.nav-content .nav-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.nav-content .nav-link:hover,
.nav-content .nav-link:focus {
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: 0.8px solid white;
  padding-bottom: 5px;
}

.open-icon {
  position: absolute;
  right: 10%;
  top: 30%;
  width: fit-content;
  display: none;
}
.open-icon .line {
  width: 28px;
  height: 4px;
  background-color: white;
}
.open-icon .line::after {
  content: "";
  width: 28px;
  height: 4px;
  background-color: inherit;
  position: absolute;
  margin-top: 20px;
}
.open-icon .line::before {
  content: "";
  width: 28px;
  height: 4px;
  background-color: inherit;
  position: absolute;
  margin-top: 10px;
}

.close-icon {
  height: 100%;
  padding: 5% 0%;
  width: 50px;
  display: none;
}
.close-icon .close-line {
  width: 30px;
  height: 4px;
  transform: rotateZ(-45deg);
  background-color: white;
}
.close-icon .close-line::after {
  content: "";
  position: absolute;
  transform: rotateZ(-90deg);
  width: 30px;
  height: 4px;
  background-color: inherit;
}

@media screen and (max-width: 1440px) {
  .nav-content li {
    width: 110px;
    margin: 0px 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-content li {
    width: 100px;
    margin: 0px 5px;
    font-size: 18px;
  }
}
@media screen and (max-width: 769px) {
  #nav-wrapper {
    padding: 2% 10%;
    position: fixed;
  }
  #nav-wrapper .nav-content {
    width: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    height: 85vh;
    transition: all 0.4s linear;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
  }

  .open-icon {
    display: block;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.intro-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 8%;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.intro-wrapper .intro-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-wrapper .profile-img {
  width: 50%;
  height: 100%;
  background-image: url("../images/MyImage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.intro-wrapper .content-wrapper {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-wrapper .content-wrapper .content-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.intro-wrapper .content-wrapper h1 {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}
.intro-wrapper .content-wrapper p {
  line-height: 1.5;
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
}
.intro-wrapper .content-wrapper .btn-container {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro-wrapper .content-wrapper .btn-container a {
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid white;
  margin: 15px 20px;
  transition: all 0.4s linear;
}
.intro-wrapper .content-wrapper .btn-container a:hover,
.intro-wrapper .content-wrapper .btn-container a:focus {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1250px) {
  .intro-wrapper .intro-container {
    padding: 0 0;
    justify-content: space-between;
  }
  .intro-wrapper .profile-img {
    width: 40%;
    height: 85%;
  }
  .intro-wrapper .content-wrapper {
    width: 60%;
  }
  .intro-wrapper .content-wrapper .content-container h1 {
    font-size: 3.5rem;
  }
  .intro-wrapper .content-wrapper .content-container p {
    font-size: 1.25rem;
  }
  .intro-wrapper .content-wrapper .content-container .btn-container a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .intro-container .profile-img {
    height: 70%;
    width: 35%;
  }
  .intro-container .content-wrapper {
    width: 65%;
  }
  .intro-container .content-wrapper .btn-container {
    justify-content: space-around;
  }
  .intro-container .content-wrapper .btn-container a {
    line-height: 1.25;
  }
}
@media screen and (max-width: 768px) {
  .intro-wrapper {
    padding: 0;
  }
  .intro-wrapper .intro-container {
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
  }
  .intro-wrapper .intro-container .profile-img {
    width: 100%;
    margin-top: 20px;
    height: 420px;
  }
  .intro-wrapper .intro-container .content-wrapper {
    width: 100%;
    height: 400px;
  }
  .intro-wrapper .intro-container .content-wrapper h1 {
    font-size: 3rem;
  }
  .intro-wrapper .intro-container .content-wrapper p {
    line-height: 1.3;
  }
  .intro-wrapper .intro-container .content-wrapper .btn-container a {
    padding: 8px 15px;
  }
}
@media screen and (max-width: 425px) {
  .intro-wrapper {
    flex-direction: column;
  }
  .intro-wrapper .intro-container .content-container h1 {
    font-size: 2.5rem;
  }
  .intro-wrapper .intro-container .content-container p {
    font-size: 1rem;
    width: 100%;
  }
  .intro-wrapper .intro-container .content-container .btn-container a {
    font-size: 0.8rem;
    margin: 0 5px;
    padding: 5px 10px;
  }
}
.skill-section {
  text-align: center;
  padding: 3% 0%;
}
.skill-section h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.icons-container {
  overflow-x: scroll;
  display: flex;
  padding: 3% 0%;
  overflow-y: hidden;
  height: fit-content;
}
.icons-container li {
  list-style: none;
}
.icons-container img {
  height: 130px;
  width: 130px;
  border: none;
  backdrop-filter: blur(30px);
  border-radius: 50%;
  margin: 0 30px;
  transition: all 0.5s linear;
  box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.3);
}
.icons-container img:hover,
.icons-container img:focus {
  transform: scale(1.15);
  box-shadow: 22px 22px 50px 2px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 600px) {
  .skill-section {
    padding: 5% 0%;
  }
  .skill-section h2 {
    font-size: 2.2rem;
  }

  .icons-container {
    padding: 5% 0%;
  }
  .icons-container img {
    height: 80px;
    width: 80px;
    margin: 0px 20px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.4);
  }
}
footer {
  width: 100%;
  overflow: hidden;
  padding: 2.5% 10%;
  margin-bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
footer .footer-nav {
  display: flex;
  width: 5%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-nav li {
  list-style: none;
}
footer .footer-nav li a {
  color: white;
}
footer .footer-nav li a i {
  height: 28px;
  width: 28px;
  font-family: none;
  background-color: white;
}
footer .footer-nav li .blue:hover {
  color: #0b0bc0;
}
footer .footer-nav li .red:hover {
  color: #f81212;
}
footer p {
  margin: 5px 0px;
}

@media screen and (max-width: 768px) {
  footer .footer-nav {
    width: 20%;
  }
}
.modal-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: none;
}
.modal-wrapper .modal-close {
  position: relative;
  width: 50px;
  cursor: pointer;
  display: flex;
  background-color: black;
  margin-left: 90%;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.modal-wrapper .modal-close .close-line {
  width: 30px;
  height: 4px;
  transform: rotateZ(-45deg);
  background-color: white;
}
.modal-wrapper .modal-close .close-line::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  left: 0;
  transform: rotateZ(90deg);
  background-color: inherit;
}

.modal-container {
  width: 100%;
  height: 100%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}
.modal-container .certi-link {
  padding: 5px 10px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin: 20px 0px;
  border: 2px solid white;
  border-radius: 10px;
}
.modal-container .certi-link:hover {
  color: black;
  border: 2px solid black;
}
.modal-container .modal-title {
  font-size: 3rem;
  width: 100%;
  margin: 20px 0px;
  height: fit-content;
  font-weight: 600;
  color: white;
}
.modal-container img {
  width: 600px;
  height: 500px;
  outline: black;
}
.modal-container .modal-content {
  width: 100%;
  padding: 0 0 3%;
  color: white;
  text-align: center;
}
.modal-container .modal-content h3 {
  text-align: center;
  margin: 15px 0px;
  font-size: 2rem;
  text-transform: capitalize;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.badges span {
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 1.2rem;
  color: white;
  margin: 5px 10px;
  background-color: black;
}

.learning-list ol {
  padding-left: 20px;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.learning-list ol li {
  margin-top: 10px;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .modal-wrapper .modal-contianer .modal-title {
    font-size: 2.5rem;
  }
  .modal-wrapper .modal-contianer img {
    max-width: 400px;
    height: 300px;
  }

  .learning-list ol li {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .modal-wrapper .modal-close {
    margin-left: 85%;
  }
  .modal-wrapper .modal-container .modal-title {
    font-size: 2rem;
  }
  .modal-wrapper .modal-container .modal-content h3 {
    font-size: 1.5rem;
    padding: 0;
  }
  .modal-wrapper .modal-container img {
    width: 315px;
  }
}
.certificates-wrapper {
  position: relative;
  height: fit-content;
  background-color: white;
  color: black;
  padding: 4% 0% 0%;
}
.certificates-wrapper h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.courses-wrapper,
.sports-wrapper,
.arts-wrapper {
  position: relative;
  padding: 5% 10%;
  height: fit-content;
}
.courses-wrapper h2,
.sports-wrapper h2,
.arts-wrapper h2 {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.courses-container,
.sports-container,
.arts-container {
  margin: 4% 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.certi-img {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: none;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.28);
  background-color: white;
  margin: 15px;
  padding: 0.5%;
  outline: none;
}
.certi-img button {
  cursor: pointer;
  padding: 5px 0px;
  width: 100px;
  margin: 10px 0px;
  font-size: 1.1rem;
  border-radius: 15px;
  border-color: black;
  border-width: 3px;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
}
.certi-img button:hover {
  background-color: black;
  color: white;
  transition: all 0.5 ease-in-out;
}

.sports-wrapper {
  background-color: rgba(34, 32, 32, 0.829);
  color: white;
}
.sports-wrapper .certi-img {
  box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .certificates-wrapper h1 {
    font-size: 2rem;
  }
  .certificates-wrapper h2 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
