html {
    scroll-behavior: smooth;
  }

body{
    margin: 0px;
    height: 100%;
    background-color:white;
    text-align: center;
}

h1{
    margin-top: 50px;
    font-size: 90px;
    letter-spacing: 2px;
    color: #2B60DE;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    color: white;
    text-align: center;
    font-size: 45px;
    letter-spacing: 10px;
    font-family: 'Playfair Display SC', serif;
}

h3{
    color: white;
    font-weight: bold;
    font-weight: bold;
    text-align: center;
    text-shadow: gray;
}
 
.my-footer-link{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 20px;
    text-shadow: brown;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 20px 20px auto ;
}

.my-footer-link:hover{
    text-decoration: none;
    color:white;
}
.myhr{
    border-color: black;
    border-style:  none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    align-self: center;
    margin: 100px auto 100px auto;
}
.copyright{
    margin: 10px auto 2px auto;
    color: blanchedalmond;
}

/* Top Intro Content */

.tiger{
    width: 350px;
    height: 350px;
    margin-left: 150px;
    margin-top: 5px;
    border: solid;
    border-radius: 100%;
    border-width: 4px;
}

.aboutme{
    width: 40vw;
    letter-spacing: 5px;
    font-weight: bold;
    left: 190px;
    color: #BF3EFF;
    position: relative;
    font-size: 35px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.hide{
    display: none;
}

.dushyant{
    color:black;
    text-align: center;
    font-weight: bold;
    height: 10vh;
    width: 100%;
    font-size: 60px;
    letter-spacing: 20px;
    font-family: 'Playfair Display SC', serif;
}

.bottom{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    margin-left: -50vw;
    margin: 0px;
    background-color: #2B60DE;
}

/* Skills image */

.row1{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 40px;
    float: left;
    background-position: center;
    border: solid;
    border-width: 4px;
}

.row2{
    height: 170px;
    width: 170px;
    float: left;
    margin-left: 50px;
    border-radius: 100%;
    border: solid;
    border-width: 4px;
}

.row3{
    height: 170px;
    width: 170px;
    float: left;
    margin-left: 50px;
    border-radius: 100%;
    border: solid;
    border-width: 4px;
}

.imgskill{
    background-image: url('/images/skill2.jpg');
}
.imgprofile{
    background-image: url('/images/profile.jpg');
}
.imgAchieve{
    background-image: url('/images/certi.jpg');
}