html {
    scroll-behavior: smooth;
  }

body{
    margin: 0px;
    height: 100%;
    background-color:white;
    text-align: center;
}

.hero{
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dushyant{
    color: white;
    text-align: center;
    font-weight: bold;
    height: 10vh;
    width: 45vw;
    font-size: 50px;
    letter-spacing: 13px;
    font-family: 'Playfair Display SC', serif;
}

h1{
    margin-top: 50px;
    font-size: 90px;
    letter-spacing: 2px;
    color: #2B60DE;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    color: white;
    text-align: center;
    font-size: 45px;
    letter-spacing: 10px;
    font-family: 'Playfair Display SC', serif;
}

h3{
    color: white;
    font-weight: bold;
    font-weight: bold;
    text-align: center;
    text-shadow: gray;
}
 
.my-footer-link{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 20px;
    text-shadow: brown;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 20px 20px auto ;
}

.my-footer-link:hover{
    text-decoration: none;
    color:white;
}
.myhr{
    border-color: black;
    border-style:  none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    align-self: center;
    margin: 100px auto 100px auto;
}
.copyright{
    margin: 10px auto 2px auto;
    color: blanchedalmond;
}

/* Top Intro Content */

.aboutme{
    width: 30vw;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.bottom{
    position: relative;
    height: 13vh;
    padding-top: 15px;
    text-align: center;
    margin-left: -50vw;
    margin: 0px;
    background-color: #2B60DE;
}

.tiger{
    width: 400px;
    height: 400px;
    margin-left: 150px;
    margin-top: 100px;
    border: solid;
    border-radius: 100%;
    border-width: 4px;
}

/* Skills image */

.row1{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 40px;
    float: left;
    background-position: center;
    border: solid;
    border-width: 4px;
}

.row2{
    height: 170px;
    width: 170px;
    float: left;
    margin-left: 50px;
    border-radius: 100%;
    border: solid;
    border-width: 4px;
}

.row3{
    height: 170px;
    width: 170px;
    float: left;
    margin-left: 50px;
    border-radius: 100%;
    border: solid;
    border-width: 4px;
}

.imgskill{
    background-image: url('/images/skill2.jpg');
}
.imgprofile{
    background-image: url('/images/aboutme.jpg');
}
.imgAchieve{
    background-image: url('/images/certi.jpg');
}

.forText{
    height: 600px;
    width: 300px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 40px;
}